<a href="https://colab.research.google.com/github/carolpinto-debug/PDS_Feature_Craft_Workshop/blob/main/4SO23CD011_Feature_Craft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data= pd.read_csv("/content/Crop_Production.csv")
data.info()
print("\n The dimension of the dataset is:",data.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70062 entries, 0 to 70061
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       70062 non-null  object
 1   District    70062 non-null  object
 2   Crop        70062 non-null  object
 3   Crop_Year   70062 non-null  int64
 4   Season      70062 non-null  object
 5   Area        70062 non-null  float64
 6   Production  69614 non-null  float64
 7   Yield       70061 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 4.3+ MB

 The dimension of the dataset is: (70062, 8)

In [ ]:
data.shape

(70062, 8)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70062 entries, 0 to 70061
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       70062 non-null  object
 1   District    70062 non-null  object
 2   Crop        70062 non-null  object
 3   Crop_Year   70062 non-null  int64
 4   Season      70062 non-null  object
 5   Area        70062 non-null  float64
 6   Production  69614 non-null  float64
 7   Yield       70061 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 4.3+ MB

In [ ]:
data

,State,District,Crop,Crop_Year,Season,Area,Production,Yield
0,Andaman and Nicobar Island,NICOBARS,Arecanut,2007,Kharif,2439.6,3415.0,1.40
1,Andaman and Nicobar Island,NICOBARS,Arecanut,2007,Rabi,1626.4,2277.0,1.40
2,Andaman and Nicobar Island,NICOBARS,Arecanut,2008,Autumn,4147.0,3060.0,0.74
3,Andaman and Nicobar Island,NICOBARS,Arecanut,2008,Summer,4147.0,2660.0,0.64
4,Andaman and Nicobar Island,NICOBARS,Arecanut,2009,Autumn,4153.0,3120.0,0.75
...,...,...,...,...,...,...,...,...
70057,Chhattisgarh,KANKER,Maize,2016,Kharif,10056.0,28527.0,2.84
70058,Chhattisgarh,KANKER,Maize,2017,Kharif,9892.0,26784.0,2.71
70059,Chhattisgarh,KANKER,Maize,2018,Kharif,9014.0,28765.0,3.19
70060,Chhattisgarh,KANKER,Maize,2019,Kharif,10369.0,34590.0,3.34
70061,Chhattisgarh,KONDAGAON,Maize,2011,Kharif,1300.0,NaN,NaN

In [ ]:
data.describe()

          Crop_Year          Area     Production         Yield
count  70062.000000   70062.000000  6.961400e+04  70061.000000
mean    2008.143102    7247.781281  4.644911e+05    114.235902
std        6.621835   25791.054363  1.291832e+07   1112.755928
min     1997.000000       0.110000  0.000000e+00      0.000000
25%     2002.000000      72.000000  8.900000e+01      0.630000
50%     2008.000000     452.000000  6.410000e+02      1.040000
75%     2014.000000    2762.750000  5.760750e+03      2.730000
max     2019.000000  877029.000000  8.980570e+08  43958.330000

In [ ]:
data.columns

Index(['State', 'District ', 'Crop', 'Crop_Year', 'Season', 'Area ',
       'Production', 'Yield'],
      dtype='object')

In [ ]:
data.dtypes

State          object
District       object
Crop           object
Crop_Year       int64
Season         object
Area          float64
Production    float64
Yield         float64
dtype: object

In [ ]:
data['State'].unique()

array(['Andaman and Nicobar Island', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'CHANDIGARH',
       'Chhattisgarh'], dtype=object)

In [ ]:
cols_with_spaces = [col for col in data.columns if col != col.strip()]
if cols_with_spaces:
    print("Columns with leading or trailing spaces:", cols_with_spaces)
else:
    print("No columns with leading or trailing spaces found.")

Columns with leading or trailing spaces: ['District ', 'Area ']

In [ ]:
print("Unique values in 'District' column:")
print(data['District '].unique())

Unique values in 'District' column:
['NICOBARS' 'NORTH AND MIDDLE ANDAMAN' 'SOUTH ANDAMANS' 'ANANTAPUR'
 'EAST GODAVARI' 'KRISHNA' 'VIZIANAGARAM' 'WEST GODAVARI' 'ADILABAD'
 'CHITTOOR' 'GUNTUR' 'KADAPA' 'KARIMNAGAR' 'KHAMMAM' 'KURNOOL'
 'MAHBUBNAGAR' 'MEDAK' 'NALGONDA' 'NIZAMABAD' 'PRAKASAM' 'RANGAREDDI'
 'SPSR NELLORE' 'SRIKAKULAM' 'VISAKHAPATANAM' 'WARANGAL' 'HYDERABAD'
 'DIBANG VALLEY' 'EAST KAMENG' 'EAST SIANG' 'KAMLE' 'LEPARADA' 'LOHIT'
 'LONGDING' 'LOWER DIBANG VALLEY' 'LOWER SIANG' 'LOWER SUBANSIRI' 'NAMSAI'
 'PAKKE KESSANG' 'PAPUM PARE' 'SIANG' 'TIRAP' 'UPPER SIANG'
 'UPPER SUBANSIRI' 'WEST SIANG' 'ANJAW' 'CHANGLANG' 'KRA DAADI'
 'KURUNG KUMEY' 'SHI YOMI' 'TAWANG' 'WEST KAMENG' 'BAKSA' 'BARPETA'
 'BISWANATH\n' 'BONGAIGAON' 'CACHAR' 'CHARAIDEO\n' 'CHIRANG' 'DARRANG'
 'DHEMAJI' 'DHUBRI' 'DIBRUGARH' 'DIMA HASAO' 'GOALPARA' 'GOLAGHAT'
 'HAILAKANDI' 'HOJAI\n' 'JORHAT' 'KAMRUP' 'KAMRUP METRO' 'KARBI ANGLONG'
 'KARIMGANJ' 'KOKRAJHAR' 'LAKHIMPUR' 'MAJULI\n' 'MARIGAON' 'NAGAON'
 'NALBARI' 'SIVASAGAR' 'SONITPUR' 'SOUTH SALMARA MANCACHAR\n' 'TINSUKIA'
 'UDALGURI' 'WEST KARBI ANGLONG\n' 'ARARIA' 'ARWAL' 'AURANGABAD' 'BANKA'
 'BEGUSARAI' 'BHAGALPUR' 'BHOJPUR' 'BOKARO' 'BUXAR' 'CHATRA' 'DARBHANGA'
 'DEOGHAR' 'DHANBAD' 'DUMKA' 'EAST SINGHBUM' 'GARHWA' 'GAYA' 'GIRIDIH'
 'GODDA' 'GOPALGANJ' 'GUMLA' 'HAZARIBAGH' 'JAMUI' 'JEHANABAD'
 'KAIMUR (BHABUA)' 'KATIHAR' 'KHAGARIA' 'KISHANGANJ' 'KODERMA'
 'LAKHISARAI' 'LOHARDAGA' 'MADHEPURA' 'MADHUBANI' 'MUNGER' 'MUZAFFARPUR'
 'NALANDA' 'NAWADA' 'PAKUR' 'PALAMU' 'PASHCHIM CHAMPARAN' 'PATNA'
 'PURBI CHAMPARAN' 'PURNIA' 'RANCHI' 'ROHTAS' 'SAHARSA' 'SAHEBGANJ'
 'SAMASTIPUR' 'SARAN' 'SHEIKHPURA' 'SHEOHAR' 'SITAMARHI' 'SIWAN' 'SUPAUL'
 'VAISHALI' 'WEST SINGHBHUM' 'CHANDIGARH' 'BALOD' 'BALODA BAZAR'
 'BALRAMPUR' 'BASTAR' 'BEMETARA' 'BIJAPUR' 'BILASPUR' 'DANTEWADA'
 'DHAMTARI' 'DURG' 'GARIYABAND' 'GAURELLA-PENDRA-MARWAHI' 'JANJGIR-CHAMPA'
 'JASHPUR' 'KABIRDHAM' 'KANKER' 'KONDAGAON' 'KORBA' 'KOREA' 'MAHASAMUND'
 'MUNGELI' 'NARAYANPUR' 'RAIGARH' 'RAIPUR' 'RAJNANDGAON' 'SUKMA'
 'SURAJPUR' 'SURGUJA']

In [ ]:
data.groupby('Crop')['Yield'].mean().sort_values(ascending=False)

Crop
Coconut                  8190.848503
Sugarcane                  47.548029
Banana                     21.237746
Onion                      14.802231
Bajra                       9.653483
Jute                        9.382076
Potato                      8.996358
Sweet potato                8.597003
other oilseeds              7.576842
Tapioca                     7.395474
Mesta                       6.532690
Ginger                      4.521510
Tobacco                     3.269142
Maize                       2.864593
Garlic                      2.016176
Oilseeds total              1.895481
Rice                        1.844818
Wheat                       1.729024
Dry chillies                1.676446
Turmeric                    1.671450
Black pepper                1.614065
Soyabean                    1.470392
Groundnut                   1.391565
Sannhamp                    1.257245
Cotton(lint)                1.244152
Jowar                       1.199391
Barley                      1.169641
Ragi                        1.145676
Sunflower                   1.076931
Arecanut                    1.069779
Peas & beans (Pulses)       0.931158
Cowpea(Lobia)               0.919777
Gram                        0.900431
Arhar/Tur                   0.882725
Rapeseed &Mustard           0.820069
Khesari                     0.779369
Masoor                      0.740320
Small millets               0.720674
Other  Rabi pulses          0.691133
Urad                        0.685039
Guar seed                   0.677500
Other Kharif pulses         0.641920
Safflower                   0.607959
Linseed                     0.596070
Moong(Green Gram)           0.592640
Niger seed                  0.532291
Castor seed                 0.516294
Sesamum                     0.516154
Coriander                   0.498278
Horse-gram                  0.490613
Cashewnut                   0.439734
Name: Yield, dtype: float64

In [ ]:
import numpy as np
fewcrop = data['Crop'].value_counts()
low_freq = fewcrop[fewcrop < 20]
print(low_freq)

Crop
Guar seed    4
Name: count, dtype: int64

In [ ]:
data['Season'].value_counts()

Season
Kharif         23715
Rabi           22705
Whole Year     17592
Summer          2691
Autumn          1838
Winter          1521
Name: count, dtype: int64

In [ ]:
top_5_yield_crops = data.groupby('Crop')['Yield'].mean().sort_values(ascending=False).head(5)
print("Top 5 highest yielding crops:\n", top_5_yield_crops)

Top 5 highest yielding crops:
 Crop
Coconut      8190.848503
Sugarcane      47.548029
Banana         21.237746
Onion          14.802231
Bajra           9.653483
Name: Yield, dtype: float64

In [ ]:
fewcrop=data['Crop'].value_counts()
print(fewcrop[fewcrop<300])

Crop
Safflower         294
Soyabean          255
Cowpea(Lobia)     179
other oilseeds    152
Guar seed           4
Name: count, dtype: int64

In [ ]:
data.rename(columns={'District ':'Dist'},inplace=True)

In [ ]:
data.groupby(['Crop','Season']).agg({'Production': 'sum', 'Yield': 'mean'})

                             Production      Yield
Crop           Season
Arecanut       Autumn            6180.0   0.745000
               Kharif           43139.0   3.505714
               Rabi            704258.0   1.034723
               Summer            4740.0   0.570000
               Whole Year      766794.0   0.905676
...                                 ...        ...
Wheat          Kharif               8.0   0.850000
               Rabi         111796017.0   1.729943
other oilseeds Kharif         9633555.0  10.521524
               Rabi             17973.0   1.132895
               Whole Year         247.0   0.430000

[148 rows x 2 columns]

In [ ]:
data.groupby("State")['Yield'].mean()

State
Andaman and Nicobar Island    326.045083
Andhra Pradesh                212.827854
Arunachal Pradesh               3.333003
Assam                         228.754604
Bihar                           3.780670
CHANDIGARH                      8.082016
Chhattisgarh                    2.834621
Name: Yield, dtype: float64

In [ ]:
data.groupby(['Crop','Season'])['Yield'].mean()

Crop            Season
Arecanut        Autumn          0.745000
                Kharif          3.505714
                Rabi            1.034723
                Summer          0.570000
                Whole Year      0.905676
                                 ...
Wheat           Kharif          0.850000
                Rabi            1.729943
other oilseeds  Kharif         10.521524
                Rabi            1.132895
                Whole Year      0.430000
Name: Yield, Length: 148, dtype: float64

In [ ]:
transformed_data = data.pivot_table(index='State', columns='Season', values='Yield', aggfunc='mean')
print(transformed_data)

Season                      Autumn       Kharif       Rabi         \
State
Andaman and Nicobar Island     7.189444     3.040357     3.824213
Andhra Pradesh                      NaN     3.966712     2.857122
Arunachal Pradesh                   NaN     1.191413     1.586994
Assam                          1.209576     2.486704     0.668023
Bihar                          1.746143     1.831916     1.794467
CHANDIGARH                          NaN     3.099615     3.380000
Chhattisgarh                        NaN     0.819539     0.587072

Season                      Summer       Whole Year   Winter
State
Andaman and Nicobar Island     2.993514  1012.907749          NaN
Andhra Pradesh                      NaN  1383.861229          NaN
Arunachal Pradesh                   NaN     6.238526          NaN
Assam                          2.123772   621.404567     1.720170
Bihar                          2.041378    12.658518     3.547221
CHANDIGARH                          NaN    19.980833          NaN
Chhattisgarh                   1.830000     6.410488          NaN

In [ ]:
transformed_data = data.pivot_table(index='Crop', columns='Crop_Year', values='Production', aggfunc='sum')
print(transformed_data)

Crop_Year                     1997         1998         1999          2000  \
Crop
Arecanut                   56708.0      55355.0      52924.0  7.618500e+04
Arhar/Tur                 145407.0     275060.0      58615.0  3.043600e+05
Bajra                      67194.0     122740.0      98432.0  1.579720e+05
Banana                    440763.0     905551.0     790990.0  1.762457e+06
Barley                     44140.0      47295.0          NaN  3.037200e+04
Black pepper                   NaN          NaN          NaN           NaN
Cashewnut                      NaN          NaN          NaN  3.129300e+04
Castor seed                42883.0      47018.0      59057.0  1.375770e+05
Coconut                126905000.0  149866000.0  150062000.0  1.317617e+09
Coriander                   1509.0       1821.0       1624.0  2.207200e+04
Cotton(lint)             1321594.0    1522939.0    1580154.0  1.663453e+06
Cowpea(Lobia)                  NaN          NaN          NaN           NaN
Dry chillies              351623.0     543034.0     513015.0  5.439700e+05
Garlic                      4095.0       4252.0       3983.0  5.646000e+03
Ginger                       887.0      32207.0      35953.0  4.554700e+04
Gram                      151223.0     250489.0     175023.0  3.809110e+05
Groundnut                1162996.0    2161649.0    1089630.0  2.175024e+06
Guar seed                      NaN          NaN          NaN           NaN
Horse-gram                 44100.0      35700.0      47922.0  5.213600e+04
Jowar                     517590.0     525377.0     574107.0  6.268890e+05
Jute                     2231958.0    1383004.0    1756111.0  1.752140e+06
Khesari                        NaN          NaN     160007.0  2.525390e+05
Linseed                    38972.0      41779.0      30516.0  5.056200e+04
Maize                    2457566.0    2748202.0    3097256.0  3.191328e+06
Masoor                         NaN          3.0     324945.0  1.708070e+05
Mesta                     725805.0     688021.0     203366.0  9.577520e+05
Moong(Green Gram)         134100.0     217403.0     310579.0  2.927430e+05
Niger seed                 20719.0      20366.0      11746.0  1.065400e+04
Oilseeds total             24290.0      25300.0      27228.0  2.725200e+04
Onion                     155812.0     211782.0     734412.0  6.946120e+05
Other  Rabi pulses         62722.0     540551.0      61742.0  6.355600e+04
Other Kharif pulses        10737.0      98837.0          NaN  6.369000e+03
Peas & beans (Pulses)          NaN          NaN      18164.0  2.481000e+04
Potato                   2137530.0    2367881.0    2116107.0  2.122176e+06
Ragi                      154476.0     182565.0     175258.0  1.449060e+05
Rapeseed &Mustard         256239.0     243908.0     200647.0  2.267300e+05
Rice                    18028026.0   21240750.0   15742699.0  2.206605e+07
Safflower                    302.0        407.0       8088.0  6.794000e+03
Sannhamp                    2282.0       2380.0          NaN           NaN
Sesamum                    35355.0      56195.0      47296.0  4.731300e+04
Small millets              45919.0      41576.0      22590.0  6.690400e+04
Soyabean                    3075.0       3390.0          NaN           NaN
Sugarcane               20196456.0   22841376.0   23766953.0  2.268150e+07
Sunflower                 195109.0     216641.0      66495.0  1.845350e+05
Sweet potato              218741.0     226207.0     110111.0  1.173830e+05
Tapioca                    11728.0      13261.0      13444.0  1.819470e+05
Tobacco                   216389.0     260212.0     151960.0  4.819760e+05
Turmeric                   10190.0      11903.0      12361.0  1.293900e+04
Urad                      215400.0     280111.0     318174.0  4.108850e+05
Wheat                    4170228.0    4508919.0    4698823.0  4.541375e+06
other oilseeds                 NaN          NaN          NaN  5.500000e+01

Crop_Year                      2001          2002          2003          2004  \
Crop
Arecanut               7.741200e+04  5.940800e+04  7.734200e+04  4.781000e+03
Arhar/Tur              2.674400e+05  2.224180e+05  3.024840e+05  2.948590e+05
Bajra                  8.267700e+04  6.864100e+04  1.610510e+05  9.227900e+04
Banana                 1.722599e+06  1.969752e+06  1.338593e+06  1.187831e+06
Barley                 3.019000e+04  2.657700e+04  2.834400e+04  2.182300e+04
Black pepper                    NaN  1.170000e+02  1.200000e+02  1.200000e+02
Cashewnut              3.895400e+04  1.987500e+04  3.944200e+04  3.379400e+04
Castor seed            8.368500e+04  8.780200e+04  1.326700e+05  1.062220e+05
Coconut                1.378247e+09  1.413223e+09  1.444603e+09  1.286441e+09
Coriander              2.498800e+04  1.611600e+04  1.865800e+04  1.168700e+04
Cotton(lint)           1.877630e+06  1.086530e+06  1.891240e+06  2.191975e+06
Cowpea(Lobia)                   NaN           NaN           NaN           NaN
Dry chillies           6.105010e+05  4.289800e+05  8.162690e+05  7.671180e+05
Garlic                 5.367000e+03  5.568000e+03  6.181000e+03  6.044000e+03
Ginger                 4.759600e+04  3.877300e+04  4.630800e+04  4.808000e+04
Gram                   5.568360e+05  5.681470e+05  7.337350e+05  5.263470e+05
Groundnut              1.292118e+06  8.589640e+05  1.026284e+06  1.677615e+06
Guar seed                       NaN           NaN           NaN           NaN
Horse-gram             7.043300e+04  5.341600e+04  6.877800e+04  5.411600e+04
Jowar                  6.469320e+05  6.177120e+05  7.512560e+05  5.242660e+05
Jute                   1.627806e+06  1.664165e+06  1.812626e+06  1.466614e+06
Khesari                3.583120e+05  2.830110e+05  4.014140e+05  2.549360e+05
Linseed                5.756200e+04  4.821600e+04  5.650800e+04  4.484000e+04
Maize                  2.966769e+06  2.993237e+06  4.083802e+06  3.718279e+06
Masoor                 1.515410e+05  1.673070e+05  1.714750e+05  1.380730e+05
Mesta                  7.959300e+05  7.593170e+05  6.349730e+05  6.078920e+05
Moong(Green Gram)      1.635480e+05  2.398390e+05  4.203110e+05  2.632470e+05
Niger seed             1.258400e+04  1.080300e+04  1.179300e+04  1.058800e+04
Oilseeds total         2.930700e+04  2.982100e+04  2.847800e+04  2.628100e+04
Onion                  7.117280e+05  5.469280e+05  6.746930e+05  7.268250e+05
Other  Rabi pulses     6.955200e+04  5.699600e+04  3.245000e+03  5.207800e+04
Other Kharif pulses    5.471000e+03  4.800000e+03  2.670000e+03  7.558000e+03
Peas & beans (Pulses)  3.997600e+04  3.448900e+04  3.703800e+04  3.342400e+04
Potato                 2.101978e+06  2.116678e+06  1.949334e+06  1.707387e+06
Ragi                   1.201220e+05  9.111000e+04  1.114180e+05  9.793000e+04
Rapeseed &Mustard      2.162130e+05  1.926020e+05  2.077030e+05  1.971760e+05
Rice                   2.070746e+07  1.633547e+07  1.873830e+07  1.570849e+07
Safflower              6.101000e+03  6.908000e+03  5.493000e+03  8.461000e+03
Sannhamp                        NaN  3.012000e+03  2.467000e+03  3.532000e+03
Sesamum                3.681500e+04  2.856000e+04  5.357200e+04  4.787900e+04
Small millets          6.180000e+04  5.068900e+04  6.073900e+04  5.377600e+04
Soyabean                        NaN  0.000000e+00  1.072980e+05  1.178980e+05
Sugarcane              2.493285e+07  2.085289e+07  2.035510e+07  2.075051e+07
Sunflower              2.355180e+05  2.936150e+05  3.574220e+05  5.246290e+05
Sweet potato           1.114920e+05  1.086120e+05  1.014520e+05  1.002020e+05
Tapioca                1.600710e+05  9.297500e+04  1.357580e+05  1.467840e+05
Tobacco                4.336810e+05  4.685580e+05  5.325830e+05  6.042170e+05
Turmeric               1.329600e+04  1.322800e+04  1.270500e+04  1.298300e+04
Urad                   4.278290e+05  4.148410e+05  2.388680e+05  2.974760e+05
Wheat                  4.602607e+06  4.143025e+06  3.778188e+06  3.345125e+06
other oilseeds                  NaN  1.359100e+04  3.600000e+01  4.600000e+01

Crop_Year                      2005          2006  ...          2010  \
Crop                                               ...
Arecanut               7.007000e+04  6.106000e+04  ...  7.455100e+04
Arhar/Tur              3.728460e+05  2.327800e+05  ...  3.339290e+05
Bajra                  1.058110e+05  6.381900e+04  ...  1.264090e+05
Banana                 1.763374e+06  1.836671e+06  ...  2.590815e+06
Barley                 1.954400e+04  2.276300e+04  ...  1.688200e+04
Black pepper           3.600000e+01  2.120000e+02  ...  4.710000e+03
Cashewnut              4.023900e+04  3.762500e+04  ...  3.387400e+04
Castor seed            1.407800e+05  8.746500e+04  ...  1.218050e+05
Coconut                1.175389e+09  1.551083e+09  ...  1.473833e+09
Coriander              1.558400e+04  1.107500e+04  ...  1.476300e+04
Cotton(lint)           2.109008e+06  2.182756e+06  ...  3.890947e+06
Cowpea(Lobia)                   NaN           NaN  ...           NaN
Dry chillies           5.554250e+05  7.814250e+05  ...  6.579760e+05
Garlic                 6.521000e+03  2.626000e+03  ...  3.542000e+03
Ginger                 5.440700e+04  5.706100e+04  ...  1.922570e+05
Gram                   8.591640e+05  9.020740e+05  ...  1.019156e+06
Groundnut              1.401792e+06  7.803350e+05  ...  1.494754e+06
Guar seed                       NaN           NaN  ...           NaN
Horse-gram             4.872000e+04  4.666000e+04  ...  4.053300e+04
Jowar                  5.980900e+05  4.193050e+05  ...  3.194310e+05
Jute                   1.908110e+06  1.915188e+06  ...  1.790169e+06
Khesari                2.870640e+05  3.054770e+05  ...  2.967990e+05
Linseed                4.628800e+04  4.538700e+04  ...  3.266500e+04
Maize                  4.735601e+06  4.354409e+06  ...  6.235560e+06
Masoor                 1.276400e+05  1.324550e+05  ...  1.740440e+05
Mesta                  6.232040e+05  7.233170e+05  ...  3.967330e+05
Moong(Green Gram)      2.672610e+05  2.397330e+05  ...  2.580840e+05
Niger seed             9.884000e+03  1.048100e+04  ...  7.843000e+03
Oilseeds total         2.369500e+04  2.926500e+04  ...  2.925100e+04
Onion                  8.753250e+05  5.962880e+05  ...  8.759870e+05
Other  Rabi pulses     5.869600e+04  1.372700e+04  ...  6.638000e+03
Other Kharif pulses    4.592000e+03  3.106000e+03  ...  2.911000e+03
Peas & beans (Pulses)  3.392700e+04  3.371800e+04  ...  3.318700e+04
Potato                 1.639186e+06  5.811340e+05  ...  7.599550e+05
Ragi                   9.217000e+04  7.694600e+04  ...  5.913400e+04
Rapeseed &Mustard      1.769250e+05  2.080590e+05  ...  2.552550e+05
Rice                   1.913767e+07  1.998251e+07  ...  2.274447e+07
Safflower              8.232000e+03  8.994000e+03  ...  8.953000e+03
Sannhamp               2.587000e+03  2.637000e+03  ...           NaN
Sesamum                3.933600e+04  3.906300e+04  ...  3.490700e+04
Small millets          5.806000e+04  4.250300e+04  ...  5.462800e+04
Soyabean               1.909370e+05  1.562220e+05  ...  2.176820e+05
Sugarcane              2.278671e+07  2.276632e+07  ...  2.787676e+07
Sunflower              3.280970e+05  3.599430e+05  ...  1.811590e+05
Sweet potato           1.036820e+05  3.759700e+04  ...  3.318800e+04
Tapioca                1.407270e+05  2.237840e+05  ...  1.067580e+05
Tobacco                7.342070e+05  5.830480e+05  ...  7.651280e+05
Turmeric               1.419000e+04  1.097200e+04  ...  1.382500e+04
Urad                   2.868450e+05  3.889400e+05  ...  2.943790e+05
Wheat                  2.892636e+06  4.240851e+06  ...  5.171976e+06
other oilseeds         3.400000e+01  3.600000e+01  ...           NaN

Crop_Year                      2011          2012          2013          2014  \
Crop
Arecanut               6.630000e+04  9.534000e+04  6.722100e+04  8.355600e+04
Arhar/Tur              2.163560e+05  3.340780e+05  1.755090e+05  1.451420e+05
Bajra                  9.403500e+04  1.293160e+05  1.263990e+05  8.230200e+04
Banana                 3.055932e+06  7.815850e+05  2.759924e+06  2.826757e+06
Barley                 1.887300e+04  1.656300e+04  1.669500e+04  1.613700e+04
Black pepper           5.230000e+03  5.671000e+03  6.163000e+03  5.983000e+03
Cashewnut              3.924500e+04  3.342500e+04  3.819900e+04  4.016700e+04
Castor seed            5.316100e+04  1.056180e+05  2.639700e+04  2.816800e+04
Coconut                1.711467e+09  1.932399e+09  1.885815e+09  1.717218e+09
Coriander              8.427000e+03  6.092000e+03  5.873000e+03  2.143500e+04
Cotton(lint)           3.182608e+06  5.601001e+06  2.188571e+06  2.751787e+06
Cowpea(Lobia)          1.545700e+04  2.110100e+04  1.199100e+04  1.504100e+04
Dry chillies           8.276740e+05  7.825420e+05  6.318460e+05  7.689580e+05
Garlic                 4.479000e+03  3.141000e+03  3.633000e+03  2.824000e+03
Ginger                 2.015470e+05  1.950960e+05  1.821530e+05  2.069230e+05
Gram                   8.584190e+05  1.154011e+06  9.413710e+05  7.615650e+05
Groundnut              8.833200e+05  1.153310e+06  9.246220e+05  5.338750e+05
Guar seed                       NaN           NaN  2.100000e+01           NaN
Horse-gram             3.586500e+04  4.151700e+04  3.685400e+04  3.773800e+04
Jowar                  5.024730e+05  5.492770e+05  2.703080e+05  3.502550e+05
Jute                   2.098719e+06  2.048508e+06  2.215300e+06  2.186258e+06
Khesari                2.988950e+05  2.436650e+05  2.445640e+05  3.579320e+05
Linseed                3.809400e+04  3.649200e+04  3.177600e+04  2.945500e+04
Maize                  6.394274e+06  7.826762e+06  5.408985e+06  4.721659e+06
Masoor                 1.834030e+05  1.999660e+05  2.184190e+05  1.625870e+05
Mesta                  4.754530e+05  1.920440e+05  3.603180e+05  2.915410e+05
Moong(Green Gram)      2.640730e+05  2.995350e+05  1.949280e+05  2.499240e+05
Niger seed             6.930000e+03  9.872000e+03  8.987000e+03  6.803000e+03
Oilseeds total         3.304700e+04  3.133700e+04  3.164900e+04  3.396500e+04
Onion                  1.022379e+06  8.619830e+05  5.414820e+05  6.582910e+05
Other  Rabi pulses     6.496000e+03  5.549000e+03  1.302000e+03  1.282800e+04
Other Kharif pulses    4.473000e+03  4.339000e+03  3.998000e+03  5.413000e+03
Peas & beans (Pulses)  3.283400e+04  3.907500e+04  4.485600e+04  4.498900e+04
Potato                 7.835640e+05  7.660690e+05  7.662140e+05  8.498540e+05
Ragi                   5.016300e+04  5.337100e+04  5.057900e+04  4.424300e+04
Rapeseed &Mustard      2.827610e+05  3.104350e+05  2.882470e+05  2.836200e+05
Rice                   2.602107e+07  2.514216e+07  2.003685e+07  2.212306e+07
Safflower              7.735000e+03  2.560000e+02  1.444000e+03  3.300000e+02
Sannhamp                        NaN  9.900000e+02  1.124000e+03  1.096000e+03
Sesamum                3.031200e+04  3.098000e+04  3.177700e+04  3.961800e+04
Small millets          4.697500e+04  6.381900e+04  4.973100e+04  4.677700e+04
Soyabean               2.108120e+05  2.540000e+03  5.001000e+03  1.962000e+03
Sugarcane              1.777384e+07  2.925361e+07  2.600249e+07  2.663988e+07
Sunflower              1.464360e+05  1.232350e+05  8.776700e+04  5.680900e+04
Sweet potato           3.921300e+04  3.440400e+04  4.091600e+04  4.409500e+04
Tapioca                1.582800e+05  2.473780e+05  2.272250e+05  2.439130e+05
Tobacco                7.857430e+05  4.374520e+05  4.510450e+05  5.198500e+05
Turmeric               1.672700e+04  1.894600e+04  1.942600e+04  2.029900e+04
Urad                   4.098700e+05  4.112400e+05  2.522830e+05  3.475670e+05
Wheat                  6.599686e+06  6.234441e+06  6.182442e+06  3.609236e+06
other oilseeds         1.055243e+06           NaN  1.263934e+06  1.307544e+06

Crop_Year                      2015          2016          2017          2018  \
Crop
Arecanut               6.735500e+04  6.266200e+04  7.252800e+04  6.503100e+04
Arhar/Tur              2.054610e+05  2.107600e+05  1.797970e+05  1.125400e+05
Bajra                  9.820200e+04  1.011410e+05  1.231280e+05  5.579400e+04
Banana                 3.223269e+06  3.171902e+06  6.888210e+06  7.158162e+06
Barley                 1.456400e+04  1.816900e+04  1.842800e+04  2.974900e+04
Black pepper           6.079000e+03  7.122000e+03  7.974000e+03  7.484000e+03
Cashewnut              4.111600e+04  4.833100e+04  8.938200e+04  9.921300e+04
Castor seed            2.928300e+04  1.592000e+04  2.122700e+04  1.561000e+04
Coconut                1.714001e+09  1.709958e+09  1.700933e+09  1.827506e+09
Coriander              1.109800e+04  5.594000e+03  3.987000e+03  3.045000e+03
Cotton(lint)           1.817816e+06  1.564647e+06  2.089050e+06  1.493787e+06
Cowpea(Lobia)          1.962900e+04  5.345000e+03  1.013400e+04  8.341000e+03
Dry chillies           6.485160e+05  1.065352e+06  6.508980e+05  5.357030e+05
Garlic                 3.086000e+03  6.042000e+03  5.796000e+03  6.160000e+03
Ginger                 2.031890e+05  2.192160e+05  2.223890e+05  2.263910e+05
Gram                   7.787180e+05  7.874430e+05  9.895370e+05  6.573850e+05
Groundnut              8.382860e+05  6.515250e+05  1.081202e+06  4.944250e+05
Guar seed                       NaN  8.000000e+01           NaN           NaN
Horse-gram             4.423000e+04  2.984100e+04  4.593500e+04  6.208000e+04
Jowar                  3.637810e+05  2.056750e+05  3.388450e+05  2.330530e+05
Jute                   2.174440e+06  2.158580e+06  1.950852e+06  1.690207e+06
Khesari                2.234580e+05  3.183300e+05  1.801010e+05  1.755330e+05
Linseed                2.582900e+04  1.369000e+04  1.804700e+04  1.544400e+04
Maize                  4.213332e+06  5.837618e+06  5.785226e+06  5.108588e+06
Masoor                 1.600840e+05  1.627340e+05  1.687620e+05  1.679510e+05
Mesta                  3.944950e+05  1.234040e+05  9.661400e+04  7.740200e+04
Moong(Green Gram)      2.391350e+05  1.951020e+05  2.272400e+05  2.122900e+05
Niger seed             6.527000e+03  5.545000e+03  5.707000e+03  4.979000e+03
Oilseeds total         1.981961e+06  2.491352e+06  2.876526e+06  2.470359e+06
Onion                  7.761470e+05  8.761170e+05  1.178708e+06  1.232555e+06
Other  Rabi pulses     7.340000e+02  2.440300e+04  2.618100e+04  2.294700e+04
Other Kharif pulses    1.379000e+03  6.507000e+03  5.371000e+03  4.761000e+03
Peas & beans (Pulses)  4.338200e+04  4.855100e+04  5.169200e+04  5.156700e+04
Potato                 7.638880e+05  2.982290e+06  2.946404e+06  3.013269e+06
Ragi                   4.386700e+04  3.798900e+04  4.817300e+04  4.640800e+04
Rapeseed &Mustard      2.946660e+05  3.175210e+05  3.141440e+05  3.179000e+05
Rice                   1.966337e+07  2.160118e+07  2.208284e+07  2.007893e+07
Safflower              2.970000e+02  1.690000e+02  9.400000e+01  1.370000e+02
Sannhamp               9.990000e+02  9.710000e+02  6.630000e+02  6.240000e+02
Sesamum                2.463900e+04  2.834700e+04  2.243700e+04  2.438200e+04
Small millets          8.017200e+04  5.698200e+04  4.973900e+04  4.323000e+04
Soyabean               1.893000e+03  5.847000e+03  5.144000e+03  7.166000e+03
Sugarcane              2.234947e+07  2.211937e+07  2.279589e+07  2.931358e+07
Sunflower              3.937200e+04  3.638500e+04  2.551500e+04  1.999700e+04
Sweet potato           3.698400e+04  3.913000e+04  3.891400e+04  3.677900e+04
Tapioca                1.432420e+05  1.162140e+05  1.233000e+05  1.207310e+05
Tobacco                3.585610e+05  2.741900e+05  5.461620e+05  4.750620e+05
Turmeric               2.104800e+04  2.475400e+04  2.820800e+04  2.652200e+04
Urad                   4.570080e+05  3.818620e+05  4.203600e+05  3.601000e+05
Wheat                  4.771282e+06  6.019661e+06  6.139304e+06  6.500089e+06
other oilseeds                  NaN  7.690000e+02  1.781618e+06  1.965732e+06

Crop_Year                      2019
Crop
Arecanut               7.313100e+04
Arhar/Tur              1.745730e+05
Bajra                  9.431300e+04
Banana                 6.784498e+06
Barley                 1.128900e+04

In [ ]:
print("ACTUAL COLUMNS IN TRANSFORMED DATA:", transformed_data.columns)
long_df = pd.melt(transformed_data.reset_index(), id_vars='Crop', value_vars=[1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], var_name='Crop_Year', value_name='Production')
print("\nAfter melting:")
print(long_df)

ACTUAL COLUMNS IN TRANSFORMED DATA: Index([1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
      dtype='int64', name='Crop_Year')

After melting:
                Crop Crop_Year  Production
0           Arecanut      1997     56708.0
1          Arhar/Tur      1997    145407.0
2              Bajra      1997     67194.0
3             Banana      1997    440763.0
4             Barley      1997     44140.0
...              ...       ...         ...
1168         Tobacco      2019    559343.0
1169        Turmeric      2019     27736.0
1170            Urad      2019    372877.0
1171           Wheat      2019   5603988.0
1172  other oilseeds      2019   2263137.0

[1173 rows x 3 columns]

In [ ]:
average_yield_by_crop_year = data.groupby(['Crop', 'Crop_Year'])['Yield'].mean()
max_yield = average_yield_by_crop_year.max()
highest_yield_info = average_yield_by_crop_year[average_yield_by_crop_year == max_yield]
print("Crop and Year with the highest average yield:")
print(highest_yield_info)

Crop and Year with the highest average yield:
Crop      Crop_Year
Coconut   2018         10563.004419
Name: Yield, dtype: float64

In [ ]:
data['State'] = data['State'].str.lower().str.strip()
data['Dist'] = data['Dist'].str.lower().str.strip()

print("Unique values in 'State' column after cleaning:")
print(data['State'].unique())
print("\nUnique values in 'Dist' column after cleaning:")
print(data['Dist'].unique())

Unique values in 'State' column after cleaning:
['andaman and nicobar island' 'andhra pradesh' 'arunachal pradesh' 'assam'
 'bihar' 'chandigarh' 'chhattisgarh']

Unique values in 'Dist' column after cleaning:
['nicobars' 'north and middle andaman' 'south andamans' 'anantapur'
 'east godavari' 'krishna' 'vizianagaram' 'west godavari' 'adilabad'
 'chittoor' 'guntur' 'kadapa' 'karimnagar' 'khammam' 'kurnool'
 'mahbubnagar' 'medak' 'nalgonda' 'nizamabad' 'prakasam' 'rangareddi'
 'spsr nellore' 'srikakulam' 'visakhapatanam' 'warangal' 'hyderabad'
 'dibang valley' 'east kameng' 'east siang' 'kamle' 'leparada' 'lohit'
 'longding' 'lower dibang valley' 'lower siang' 'lower subansiri' 'namsai'
 'pakke kessang' 'papum pare' 'siang' 'tirap' 'upper siang'
 'upper subansiri' 'west siang' 'anjaw' 'changlang' 'kra daadi'
 'kurung kumey' 'shi yomi' 'tawang' 'west kameng' 'baksa' 'barpeta'
 'biswanath' 'bongaigaon' 'cachar' 'charaideo' 'chirang' 'darrang'
 'dhemaji' 'dhubri' 'dibrugarh' 'dima hasao' 'goalpara' 'golaghat'
 'hailakandi' 'hojai' 'jorhat' 'kamrup' 'kamrup metro' 'karbi anglong'
 'karimganj' 'kokrajhar' 'lakhimpur' 'majuli' 'marigaon' 'nagaon'
 'nalbari' 'sivasagar' 'sonitpur' 'south salmara mancachar' 'tinsukia'
 'udalguri' 'west karbi anglong' 'araria' 'arwal' 'aurangabad' 'banka'
 'begusarai' 'bhagalpur' 'bhojpur' 'bokaro' 'buxar' 'chatra' 'darbhanga'
 'deoghar' 'dhanbad' 'dumka' 'east singhbum' 'garhwa' 'gaya' 'giridih'
 'godda' 'gopalganj' 'gumla' 'hazaribagh' 'jamui' 'jehanabad'
 'kaimur (bhabua)' 'katihar' 'khagaria' 'kishanganj' 'koderma'
 'lakhisarai' 'lohardaga' 'madhepura' 'madhubani' 'munger' 'muzaffarpur'
 'nalanda' 'nawada' 'pakur' 'palamu' 'pashchim champaran' 'patna'
 'purbi champaran' 'purnia' 'ranchi' 'rohtas' 'saharsa' 'sahebganj'
 'samastipur' 'saran' 'sheikhpura' 'sheohar' 'sitamarhi' 'siwan' 'supaul'
 'vaishali' 'west singhbhum' 'chandigarh' 'balod' 'baloda bazar'
 'balrampur' 'bastar' 'bemetara' 'bijapur' 'bilaspur' 'dantewada'
 'dhamtari' 'durg' 'gariyaband' 'gaurella-pendra-marwahi' 'janjgir-champa'
 'jashpur' 'kabirdham' 'kanker' 'kondagaon' 'korba' 'korea' 'mahasamund'
 'mungeli' 'narayanpur' 'raigarh' 'raipur' 'rajnandgaon' 'sukma'
 'surajpur' 'surguja']

In [ ]:
average_yield_by_district_crop = data.groupby(['Dist', 'Crop'])['Yield'].transform('mean')
data['Production'].fillna(data['Area '] * average_yield_by_district_crop, inplace=True)
print("Missing values in 'Production' after imputation:", data['Production'].isnull().sum())

Missing values in 'Production' after imputation: 1

/tmp/ipython-input-1663664376.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Production'].fillna(data['Area '] * average_yield_by_district_crop, inplace=True)

In [ ]:
odisha_wheat_production = data[(data['State'] == 'odisha') & (data['Crop'] == 'Wheat')]['Production'].sum()
print("Total wheat production in Odisha:", odisha_wheat_production)

Total wheat production in Odisha: 0.0

In [ ]:
data1 = pd.read_csv('/content/Crop_Production1.csv')e
print("First 5 rows of data1:")
display(data1.head())
print("\nInformation about data1:")
data1.info()

First 5 rows of data1:

,State,District,Crop,Crop_Year,Season,Area,Production,Yield
0,Delhi,DELHI_TOTAL,Arhar/Tur,2003,Kharif,134,189.0,1.41
1,Delhi,DELHI_TOTAL,Arhar/Tur,2004,Kharif,119,170.0,1.43
2,Delhi,DELHI_TOTAL,Arhar/Tur,2005,Kharif,151,227.0,1.50
3,Delhi,DELHI_TOTAL,Arhar/Tur,2006,Kharif,385,578.0,1.50
4,Delhi,DELHI_TOTAL,Bajra,1998,Kharif,2595,2091.0,0.81

Information about data1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1756 entries, 0 to 1755
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       1756 non-null   object
 1   District    1756 non-null   object
 2   Crop        1756 non-null   object
 3   Crop_Year   1756 non-null   int64
 4   Season      1756 non-null   object
 5   Area        1756 non-null   int64
 6   Production  1732 non-null   float64
 7   Yield       1756 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 109.9+ KB

In [ ]:
print("Columns in data:", data.columns)
print("Columns in data1:", data1.columns)

Columns in data: Index(['State', 'Dist', 'Crop', 'Crop_Year', 'Season', 'Area ', 'Production',
       'Yield'],
      dtype='object')
Columns in data1: Index(['State', 'District ', 'Crop', 'Crop_Year', 'Season', 'Area ',
       'Production', 'Yield'],
      dtype='object')

In [ ]:
city_data = pd.read_csv('/content/city_day.csv')
city_data['Pollutant ratios'] = city_data['SO2'] / city_data['NOx']
display(city_data.head())

,City,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Pollutant ratios
0,Ahmedabad,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN,1.611662
1,Ahmedabad,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN,1.491495
2,Ahmedabad,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN,0.978788
3,Ahmedabad,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN,1.034502
4,Ahmedabad,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN,1.041578

In [ ]:
data['Calculated_Yield'] = data['Production'] / data['Area ']
data['Yield_Difference'] = data['Calculated_Yield'] - data['Yield']
sum_of_yield_differences = data['Yield_Difference'].sum()
print("Sum of the differences between Calculated_Yield and original Yield:", sum_of_yield_differences)

Sum of the differences between Calculated_Yield and original Yield: 13825.448988079292

In [ ]:
negative_values = data[(data['Area '] < 0) | (data['Production'] < 0) | (data['Yield'] < 0)]
print("Rows with negative Area, Production, or Yield values:", len(negative_values))
production_positive_area_zero = data[(data['Production'] > 0) & (data['Area '] == 0)]
print("Rows with Production > 0 and Area == 0:", len(production_positive_area_zero))
future_years = data[data['Crop_Year'] > 2024]
print("Rows with Crop_Year > 2024:", len(future_years))

Rows with negative Area, Production, or Yield values: 0
Rows with Production > 0 and Area == 0: 0
Rows with Crop_Year > 2024: 0